template(name='edit')
    .ui.container.segment
        h1 edit
        with doc
            // .ui.segment
            //     .ui.header elements
            //     each elements
            //         .ui.labeled.icon.button
            //             i.plus.icon
            //             |#{this}
            .ui.form
                // .field
                h4 tags
                each tags
                    .ui.labeled.icon.button.docTag
                        i.remove.icon
                        |#{this}
                .ui.left.icon.input
                    i.plus.icon
                    input#addTag(type=text placeholder='add...' autofocus='')
                unless image_id
                    unless image_url
                        .ui.segment
                            +youtube
                            if youtube
                                +view_youtube
                .field
                    if image_id
                        label image
                        .ui.large.image
                            img(src="{{c.url image_id width=500 crop='fit'}}")
                            a#remove_photo.ui.top.left.attached.link.blue.label remove
                            .ui.bottom.right.attached.blue.label Image Id: #{image_id}
                    else
                        unless image_url
                            label upload image
                            input(type='file' name='upload_picture' accept='image/*')
                    if image_url
                        label image
                        .ui.large.image
                            img(src=image_url)
                            a#remove_photo.ui.top.left.attached.link.blue.label remove
                        .ui.label image url: #{image_url}
                    else
                        unless image_id
                            label image url
                            input#image_url(type='text' value=image_url)

                // +number
                // +price
                // .field
                //     .label location
                //     input#place(type='text' placeholder='add address')
                // .field
                //     .label date/time
                //     input#datetimepicker(type="text" value=dateTime placeholder='add date/time')
                //     .ui.button.clearDT clear date/time
                // .ui.header add custom fields
                // .two.fields
                //     .field
                //         .label key
                //         input#key(type="text" value=key)
                //     .field
                //         .label value
                //         input#value(type="text" value=value)
                #clear_content.ui.button
                    i.remove.icon 
                    | clear content
                +content
            .ui.basic.center.aligned.segment
                #saveDoc.ui.big.button save
                #deleteDoc.ui.button delete
